@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lf-primary: #00a4dc;
}

body {
  background-color: var(--lf-bg, #141414);
  color: white;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}